<div class="wtf">
  <div class="fllw">
    <span>Who to follow</span>
    <a href="">Refresh</a>
    <a href="">View all</a>
  </div>
  <div class="profi">
    <img class="imgjat" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcBI3BjW5USUK8u4_UGkDVGWaERKMC20JIhG3wWdCr9dm92kDU" alt="">
    <div>
      <div class="koti">
        <span>SomeGuy</span>
        <p>@sg_bb</p>
      </div>
      <button class="button">Follow</button>
    </div>
  </div>
  <div class="profi">
    <img class="imgjat" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcBI3BjW5USUK8u4_UGkDVGWaERKMC20JIhG3wWdCr9dm92kDU" alt="">
    <div>
      <div class="koti">
        <span>SomeGirl</span>
        <p>@sg_gg</p>
      </div>
      <button class="button">Follow</button>
    </div>
  </div>
  <div class="profi">
    <img class="imgjat" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcBI3BjW5USUK8u4_UGkDVGWaERKMC20JIhG3wWdCr9dm92kDU" alt="">
    <div>
      <div class="koti">
        <span>DarePredictM...</span>
        <p>@dpm</p>
      </div>
      <button class="button">Follow</button>
    </div>
  </div>
</div>
