<div class="profili">
  <div class="cover">
    <img class="dp" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcBI3BjW5USUK8u4_UGkDVGWaERKMC20JIhG3wWdCr9dm92kDU" alt="">
  </div>
  <div>
    <div>
      <a href="" class="user">Aurona</a>
      <div class="uer">@auroraselimi</div>
    </div>
    <div class="info">
      <div class="infos"><span>Tweets</span><span>1</span></div>
      <div class="infos"><span>Following</span><span>1</span></div>
      <div class="infos"><span>Followers</span><span>1</span></div>
    </div>
  </div>
</div>
