<div id="parenti">
  <phonetweet v-if="tweetntelefon" @closeTweetModal="hideTweetModal"></phonetweet>
  <div v-if="parenti" class="conteiner">
    <top-bar></top-bar>
    <section class="content">
      <div class="col-1">
        <profili></profili>
        <div class="spodima">
          <div class="trendsat">
            <span>Trends for you</span>
            <a href="">Change</a>
          </div>
          <trends v-for="trend in trends" :trend="trend"></trends>
        </div>
        <div class="undercover">
         <div class="wtf">
          <div class="fllw">
            <span>Who to follow</span>
            <a href="">Refresh</a>
            <a href="">View all</a>
          </div>
          <div>
            <wtf v-for="follow in suggestions" :follow="follow"></wtf>
          </div>
        </div>
        </div>
      </div>
      <div class="col-2">
        <post-tweet></post-tweet>
        <feed></feed>
      </div>
      <div class="col-3">
        <div class="wtf">
          <div class="fllw">
            <span>Who to follow</span>
            <a href="">Refresh</a>
            <a href="">View all</a>
          </div>
          <div>
            <wtf v-for="follow in suggestions" :follow="follow"></wtf>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="the-fixed-one">
    <div class="the-wrapper-of-mobile-button">
      <div class="alert write-first" v-if="showAlert">
        <p>Click here to write your first tweet!</p>
        <div></div>
      </div>
      <button class="veqntelefon" @click="writetweet()" v-if="postbutton">
        <feather-icon type="feather"></feather-icon>
      </button>
    </div>
  </div>
</div>
